
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate" />
    <meta charset="utf-8">
    <title>RpPortal</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <base href="/">
    <!--<link rel="stylesheet" href="https://unpkg.com/dragula@3.7.2/dist/dragula.css" crossorigin="anonymous" /> -->
</head>
<body>
    <app-root>Loading...</app-root>
    <!--   <div class="mat-app-background basic-container">
        <dialog-data-example>loading</dialog-data-example>
      </div> -->
    <script type="text/javascript" src="~/scripts/NgApp/inline.bundle.js">
    </script>
    <script type="text/javascript" src="~/scripts/NgApp/polyfills.bundle.js">
    </script>
    <script type="text/javascript" src="~/scripts/NgApp/scripts.bundle.js">
    </script>
    <script type="text/javascript" src="~/scripts/NgApp/styles.bundle.js">
    </script>
    <script type="text/javascript" src="~/scripts/NgApp/vendor.bundle.js">
    </script>
    <script type="text/javascript" src="~/scripts/NgApp/main.bundle.js">
    </script>
</body>
</html>


